a, a:active, a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

.textHeader {
	background-color: black;
	font-size: 12px;
	font-weight: bold;
}


body {
	color: silver;
	background-color: black;
	background-repeat: repeat-y;
	text-decoration: none;
	font-family: Verdana,Helvetica,sans-serif;
	font-size: 10px;
	font-weight: normal;
}

font {
    color:#c7c7c7;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
}

H1 {
    color:#FFFFFF;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 20px;
}

td {
    color:#FFFFFF;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 10px;
}

tr {
    color:#FFFFFF;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 15px;
}

select {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
}

input {
    color: black;
    text-decoration: none;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
