/* main styles */
#body {
	margin:  0px;
	padding: 0px;
	background-color: #FFFFFF;
	overflow: hidden;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

form {
	margin: 0px;
}

input {
	margin: 0px;
	padding: 0px;
}

tr {
	overflow: hidden;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

th {
	overflow: hidden;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

td {
	overflow: hidden;
	line-height: 1.5em;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
}

/* main navigation constructor classes */
#navbrcrumb {
	background: #363636 url('../images/navbar.png') repeat-x scroll top left;
	clear:both;
	color:#C1C1C1;
	font-size: 9px;
	margin: 0px;
	padding: 0px;
	height: 2.5em;
}

#navbrcrumb div {
	background: #363636 url('../images/navbar.png') repeat-x scroll top left;
	padding:0.2em 5pt 0.2pt 5px;
	text-align:center;
}

#navbrcrumb div a {
	color: #E1E1E1;
	text-decoration: none;
}

#navbrcrumb div a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

#wrapper {
	background: transparent url('../images/shadow.gif') repeat-x scroll top left;
	position: fixed;
	overflow: auto;
	left: 0px;
	top: 4.6em;
	width: 100%;
	height: 98%;
}

#vsplitter {
	background: #666666 url('../images/vsplitter0.gif') repeat-y scroll 1px 0px;
	-moz-user-select: none;
	cursor: e-resize;
	height: 100%;
	position: absolute;
	width: 5px;
	z-index: 10;
}

#vsplitter_toggle {
	background: transparent url('../images/vsplitter1.gif') no-repeat scroll 0px 0px;
	cursor: pointer;
	height: 32px;
	opacity: 0.7;
	overflow: hidden;
	position: absolute;
	width: 6px;
	z-index: 11;
}

#content {
	background: #FFFFFF url('../images/shadow.gif') repeat-x scroll top left;
	position: fixed;
	top: 4.6em;
	overflow: auto;
	overflow-x: hidden;
	margin-right: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 8px;
	height: 86%;
	width: auto;
}

#graph_tree {
	background: #FEFEFE url('../images/shadow.gif') repeat-x scroll top left;
	float: left;
	position: fixed;
	top: 4.6em;
	left: 0;
	overflow: auto;
	padding-top: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 8px;
	height: 100%;
	z-index: 1;
}

#graph_tree_content {
	background: #FFFFFF url('../images/shadow.gif') repeat-x scroll top right;
	float: none;
	position: fixed;
	top: 4.6em;
	overflow: auto;
	margin-right: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	height: 86%;
	width: auto;
}

#graph_content {
	background: #FFFFFF url('../images/shadow.gif') repeat-x scroll top right;
	float: none;
	position: fixed;
	top: 4.6em;
	left: 0;
	overflow: auto;
	margin-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-right: 18px;
	height: 88%;
	width: 98.5%;
}

/* menu classes */
#menu {
	background: #F5F5F5 url('../images/shadow.gif') repeat-x scroll top left;
	float: left;
	position: fixed;
	top: 4.6em;
	left: 0;
	overflow: auto;
	padding-top: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 8px;
	width: 165px;
	height: 100%;
	z-index: 1;
}

.menuMain td {
	background: #001A6E url('../images/rowHeader.png') repeat-x scroll top left;
	color: #FFFFFF;
	cursor: pointer;
	white-space: nowrap;
	padding: 3px;
	font-weight: bold;
	font-size: 10px;
}

.menuMain tr {
	border: 10px solid #FFFFFF;
}

.menuSubMain {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
	display: block;
}

.menuSubMain li {
	display: block;
	padding: 2px 0px 2px 0px;
	color: #FFFFFF;
	cursor: pointer;
}

.menuSubMain a {
	color: blue;
	border: 0px;
	padding: 2px 0px 2px 0px;
	text-decoration: none;
	display: block;
}

.menuSubMain li a:hover {
	background-color: #E7E9F2;
	text-decoration: none;
}


.menuSubMainSelected {
	background-color: #E1E1E1;
}

#header {
	background-color: #363636;
	position: fixed;
	line-height: 1.5em;
	width: 100%;
	top: 0px;
	left: 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
}

/* header tabs */
#header div#navbar {
	background: #3F4D6B url("../images/header_backdrop.gif") right -8px no-repeat;
	position: relative;
	top: 0px; left: 0px;
	padding: 0;
	border-bottom: 2px solid #6ea533;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	height: 5.2em;
	font-weight: bold;
//	font-size: 10px;
	font-size:100%;
}

#header div#navbar_l ul {
	float: left;
	position: absolute;
	bottom: 0;
	left: 6px;
	margin: 0;
	padding: 0px 15px 0 0;
	width: 60%;
	list-style: none;
}

#header div#navbar_l ul a {
	float: left;
	display: block;
	padding: 7px 2px 5px 7px;
	background: transparent url("../images/header_tab.gif") 0% -200px no-repeat;
	font-size: 10pt;
	letter-spacing: 0.2px;
	color: #fff;
	text-decoration: none;
}

#header div#navbar_l li {
	float: left;
	background: transparent url("../images/header_tab.gif") 100% -200px no-repeat;
	padding: 0px 6px 0 0;
	margin: 0 2px 0 0;
}

#header div#navbar_r ul {
	float: left;
	position: absolute;
	bottom: 0;
	right: 120px;
	margin: 0px;
	padding: 0px 15px 0px 100px;
	list-style: none;
}

#header div#navbar_r ul a {
	float: left;
	display: block;
	padding: 7px 2px 5px 7px;
	background: transparent url("../images/header_tab.gif") 0% -200px no-repeat;
	font-size: 10pt;
	letter-spacing: 0.2px;
	color: #fff;
	text-decoration: none;
}

#header div#navbar_r li {
	float:left;
	background: transparent url("../images/header_tab.gif") 100% -200px no-repeat;
	padding: 0px 6px 0 0;
	margin: 0 2px 0 0;
}

#header div#navbar li.selected { background-position: 100% 0; }
#header div#navbar li.selected a { background-position: 0% 0; }
#header div#navbar li.notselected { background-position: 100% -200px; }
#header div#navbar li.notselected a { background-position: 0% -200px; }

#header div#navbar ul li.notselected:hover a { background-position: 0% -400px; }
#header div#navbar ul li.notselected:hover { background-position: 100% -400px; }

#header div#navbar img { width: 1.14em; height: 1.14em; padding: 0px;}

#about img {
	padding: 15px 15px 15px 35px;
}

/* login/logout class information */
#authBody {
}

#authContainer {
	padding:0pt;
	width:auto;
	margin:0pt auto;
	overflow:hidden;
	position:relative;
}

#authLogo {
	background: transparent url('../images/auth_login.gif') no-repeat top center;
	margin: 40px 0px 0px 0px;
	padding: 50px 0px 0px 0px;
	height: 60px;
	width: 100%;
}

#authLogin {
	margin:0px auto;
	padding:5px 0px 0px;
	width:100%;
}

#authFooter {
}

/* links */
a, a:active, a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

.linkEditMain, .linkEditMain:visited, .linkEditMain:active {
	color: blue;
	text-decoration: none;
	font-weight: bold;
}

.linkEditMain:hover {
	color: blue;
	text-decoration: underline;
	font-weight: bold;
}

.linkOverDark, .linkOverDark:visited, .linkOverDark:active {
	color: white;
	text-decoration: none;
}

.linkOverDark:hover {
	color: white;
	text-decoration: underline;
}

/* form constructor styles */
.startBoxHeader {
	border: 1px solid #708DE2;
	height: 15px;
}

.startBoxContent {
	border: 1px solid #708DE2;
	background-color: #E7E9F2;
}

.rowHeader {
	background: #001A6E url('../images/rowHeader.png') repeat-x scroll top left;
}

.rowSubHeader {
	background: #1F2328 url('../images/rowSubHeader.png') repeat-x scroll top left;
}

.rowSubHeaderAlt {
	background: #2D2D2D url('../images/rowSubHeaderAlt.png') repeat-x scroll top left;
}

.rowGraphFilter {
	background: #757575 url('../images/rowGraphFilter.png') repeat-x scroll top left;
}

.rowAlternate1 {
	background-color: #F5F5F5;
	font-size: 10px;
}

.rowAlternate2 {
	background-color: #E7E9F2;
	font-size: 10px;
}

.rowSelected {
	background-color: #F5F5D2;
	font-size: 10px;
}

/* text styles */
.textError {
	font-size: 12px;
	font-weight: bold;
	color: red;
}

.textInfo {
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.textHeader {
	font-size: 12px;
	font-weight: bold;
}

.textHeaderDark {
	font-size: 12px;
	color: #FFFFFF;
}

table.resizable {
	table-layout: auto;
	overflow: hidden;
}

table.resizable td {
	overflow:hidden;
}

table.resizable th {
	overflow:hidden;
}

.sort_asc {
	background: transparent url('../images/sort_asc.gif') no-repeat scroll center right;
}

.sort_desc {
	background: transparent url('../images/sort_desc.gif') no-repeat scroll center right;
}

.textSubHeaderDark, .textSubHeaderDark:visited {
	background: #1F2328 url('../images/rowSubHeader.png') repeat-x scroll top left;
	border-right: 2px ridge #A5A5A5;
	text-align: left;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}

.textSubHeaderDark a, .textSubHeaderDark a:visited, .textSubHeaderDark a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.textSubSortHeaderDark, .textSubSortHeaderDark:visited {
	background: #1F2328 url('../images/rowSubHeader.png') repeat-x scroll top left;
	border-right: 2px groove #000000;
	text-align: left;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
}

.textRowSubHeaderDark {
	text-align: left;
	font-size: 10px;
	color: #FFFFFF;
	background: #1F2328 url('../images/rowSubHeader.png') repeat-x scroll top left;
}

.textArea {
	font-size: 10px;
	background-color: #F5F5F5;
}

.textGraphFilter {
	font-size: 10px;
}

.textAreaNotes {
	font-size: 10px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

.textEditTitle {
	font-size: 10px;
	font-weight: bold;
}

#menu table {
	overflow: auto;
}

/* error classes */
.txtErrorTextBox {
	border: 2px solid #FF0000;
}

/* tabs */
.tabs a.tabSelected {
	border:0px;
	border-bottom:0px;
	color:#FFFFFF;
	display:block;
	float:left;
	margin-right: 4px;
	font-size:10px;
	font-weight: bold;
	height:10px;
	line-height:10px;
	text-decoration: none;
	padding:3px 15px 5px 14px;
	background: transparent url('../images/tabSelected.png') repeat-x scroll left top;
}

.tabs a.tabDefault {
	border:0px;
	border-bottom:0px;
	color:#FFFFFF;
	display:block;
	float:left;
	margin-right: 4px;
	font-size:10px;
	font-weight: bold;
	height:10px;
	line-height:10px;
	text-decoration: none;
	padding:3px 15px 5px 14px;
	background: transparent url('../images/tabDefault.png') repeat-x scroll left top;
}

.tabs a.tabDefault:hover {
	background-position:0px -25px;
	border-bottom:0px;
	background-color:#E16769;
}

.tabs a.tabSelected:hover {
	background-position:0px -25px;
	border-bottom:0px;
	background-color:#E16769;
}

/* The main calendar widget.  DIV containing a table. */
div.calendar { position: relative; }

.calendar, .calendar table {
	border: 1px solid #556;
	font-size: 11px;
	color: #000;
	cursor: default;
	background: #eef;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

/* Header part -- contains navigation buttons and day names. */
.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
	text-align: center;    /* They are the navigation buttons */
	padding: 2px;          /* Make the buttons seem like they're pressing */
}

.calendar .nav {
	background: #778 url(../images/menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
	font-weight: bold;      /* Pressing it will take you to the current date */
	text-align: center;
	background: #fff;
	color: #000;
	padding: 2px;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
	background: #778;
	color: #fff;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
	background: #bdf;
}

.calendar thead .name { /* Cells <TD> containing the day names */
	border-bottom: 1px solid #556;
	padding: 2px;
	text-align: center;
	color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
	color: #a66;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
	background-color: #aaf;
	color: #000;
	border: 1px solid #04f;
	padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
	background-color: #77c;
	padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */
.calendar tbody .day { /* Cells <TD> containing month days dates */
	width: 2em;
	color: #456;
	text-align: right;
	padding: 2px 4px 2px 2px;
}

.calendar tbody .day.othermonth {
	font-size: 80%;
	color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
	color: #fbb;
}

.calendar table .wn {
	padding: 2px 3px 2px 2px;
	border-right: 1px solid #000;
	background: #bdf;
}

.calendar tbody .rowhilite td {
	background: #def;
}

.calendar tbody .rowhilite td.wn {
	background: #eef;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
	background: #def;
	padding: 1px 3px 1px 1px;
	border: 1px solid #bbb;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
	background: #cde;
	padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date */
	font-weight: bold;
	border: 1px solid #000;
	padding: 1px 3px 1px 1px;
	background: #fff;
	color: #000;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
	color: #a66;
}

.calendar tbody td.today { /* Cell showing selected date */
	font-weight: bold;
	color: #00f;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
	visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
	display: none;
}

/* The footer part -- status bar and "Close" button */
.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
	text-align: center;
	background: #556;
	color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
	background: #fff;
	color: #445;
	border-top: 1px solid #556;
	padding: 1px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
	background: #aaf;
	border: 1px solid #04f;
	color: #000;
	padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
	background: #77c;
	padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 4em;
	cursor: default;
	border: 1px solid #655;
	background: #def;
	color: #000;
	font-size: 90%;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
	text-align: center;
	padding: 1px;
}

.calendar .combo .label-IEfix {
	width: 4em;
}

.calendar .combo .hilite {
	background: #acf;
}

.calendar .combo .active {
	border-top: 1px solid #46a;
	border-bottom: 1px solid #46a;
	background: #eef;
	font-weight: bold;
}

.calendar td.time {
	border-top: 1px solid #000;
	padding: 1px 0px;
	text-align: center;
	background-color: #f4f0e8;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
	padding: 0px 3px 0px 4px;
	border: 1px solid #889;
	font-weight: bold;
	background-color: #fff;
}

.calendar td.time .ampm {
	text-align: center;
}

.calendar td.time .colon {
	padding: 0px 2px 0px 3px;
	font-weight: bold;
}

.calendar td.time span.hilite {
	border-color: #000;
	background-color: #667;
	color: #fff;
}

.calendar td.time span.active {
	border-color: #f00;
	background-color: #000;
	color: #0f0;
}

@media print {
	.noprint { display:none }
}