/* generic */

body {
	margin: 0;
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	background: transparent url("images/side_background.gif") 0 0 repeat-y;
}

a {
	color: blue;
	text-decoration: none;
}

#header div#tabs {
	background: #3F4D6B url("../../images/header_backdrop.gif") right -8px no-repeat;
	position: relative;
	height: 5em;
	padding: 0;
	height: 3em;
	padding: 10px 0;
	border-bottom: 2px solid #6ea533;
}

#header div#tabs ul {
	position: absolute;
	bottom: 0;
	left: 6px;
	margin: 0;
	padding: 0 15px 0 0;
	list-style: none;
	z-index: 90; /* below the H1 */
}
#header div#tabs li {
	float: left;
	background: transparent url("../../images/header_tab.gif") 100% -200px no-repeat;
	padding: 0 6px 0 0;
	margin: 0 2px 0 0;
}
#header div#tabs li.selected { background-position: 100% 0; }
#header div#tabs li.selected a { background-position: 0% 0; }
#header div#tabs li.notselected { background-position: 100% -200px; }
#header div#tabs li.notselected a { background-position: 0% -200px; }
#header div#tabs ul a {
	float: left;
	display: block;
	padding: 4px 4px 4px 10px;
	background: transparent url("../../images/header_tab.gif") 0% -200px no-repeat;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.2px;
	color: #fff;
	text-decoration: none;
}

#header div#tabs ul li.notselected:hover a { background-position: 0% -400px; }
#header div#tabs ul li.notselected:hover { background-position: 100% -400px; }

#header div#navigation {
	position: relative;
	width: auto;
	height: 25px;
	background: #e9e9e9;
	border-bottom: 1px solid #a1a1a1;
}
#header div#navigation div {
	display: none;
}
#header div#navigation ul {
	margin: 0;
	padding: 3px;
	list-style: none;
	position: absolute;
	color: black;
}
#header div#navigation ul a {
	color: black;
	text-decoration: none;
}
#header div#navigation ul li:hover a {
	color: #818181;
	text-decoration: none;
}
#header div#navigation ul li.selected a {
	font-weight: bold;
}
#header div#navigation ul li {
	display: inline;
	padding: 5px;
}

#content {
}

#content div#panel {
	width: 30px;
	height: 200px;
	padding: 8px 0 0 4px;
	float: left;
	overflow: hidden;
}

#content div#login {
	padding: 3px;
	height: 25px;
	text-align: right;
	padding-top: 10px;
	overflow: hidden;
}

#content div#body {
	overflow: hidden;
}

#content div#body table.box {
	position: relative;
}

.linkEditMain, .linkEditMain:visited, .linkEditMain:active {
	color: blue;
	text-decoration: none;
	font-weight: bold;
}

.linkEditMain:hover {
	color: blue;
	text-decoration: underline;
	font-weight: bold;
}

.linkOverDark, .linkOverDark:visited, .linkOverDark:active {
	color: white;
	text-decoration: none;
}

.linkOverDark:hover {
	color: white;
	text-decoration: underline;
}

a.link-dark-small, a.link-dark-small:visited, a.link-dark-small:active {
	color: white;
	font-size: 10px;
	text-decoration: none;
}

a.link-dark-small:hover {
	color: white;
	font-size: 10px;
	text-decoration: underline;
}

/* text styles */

.textError {
	font-size: 16px;
	font-weight: bold;
	color: red;
}

.textInfo {
	font-size: 16px;
	font-weight: bold;
	color: black;
}

.textHeader {
	font-size: 12px;
	font-weight: bold;
}

.textHeaderDark {
	font-size: 12px;
	color: #ffffff;
}

.textSubHeaderDark {
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
}

.textArea {
	font-size: 12px;
}

.textEditTitle {
	font-size: 10px;
	font-weight: bold;
}

.textMenuHeader {
	color: #ffffff;
	background-color: #9C9C9C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.textMenuItem {
	background-color: #f5f5f5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.textMenuSubItem {
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.textMenuItemSelected {
	background-color: #E1E1E1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.txtErrorTextBox {
	border: 2px solid #ff0000;
}

.txtEnabledText {
	color: #000000;
}

.txtDisabledText {
	color: #919191;
}

span.text-highlight {
	background-color: #7be54b;
}

/* tabs */
table.tab-container { }
table.tab-container table.tab {
	margin-left: 1px;
	cursor: pointer;
}
table.tab-container table.tab td.left {
	width: 6px;
	height: 22px;
}
table.tab-container table.tab td.middle {
	height: 22px;
	color: white;
	font-weight: bold;
	text-align: center;
}
table.tab-container table.tab td.right {
	width: 6px;
	height: 22px;
}
table.tab-container .selected { background-color: #00438c; }
table.tab-container .selected td.left { background: url(images/tab_shell_left_down.gif) left top no-repeat; }
table.tab-container .selected td.right { background: url(images/tab_shell_right_down.gif) left top no-repeat; }
table.tab-container .selected td.middle { border-top: 1px solid #6d88ad; }
table.tab-container .unselected { background-color: #9c9c9c; }
table.tab-container .unselected td.left { background: url(images/tab_shell_left_up.gif) left top no-repeat; }
table.tab-container .unselected td.right { background: url(images/tab_shell_right_up.gif) left top no-repeat; }
table.tab-container .unselected td.middle { border-top: 1px solid #606060; }
table.tab-container .unselected a { color: white; }

/* Begin - Java Script Row Selection Logic for Layout.js */
.jsRowSelect {
	background-color: gold;
	font-family: Verdana,Helvetica,sans-serif;
	color: #000000;
}

.jsRowUnSelect {
	color: #000000;
	font-family: Verdana,Helvetica,sans-serif;
	font-weight: normal;
}

.jsRowUnavailable {
	color: #999999;
	font-family: Verdana,Helvetica,sans-serif;
	font-weight: normal;
}
/* End - Java Script Row Selection Logic for Layout.js */

/* new box code */
table.content {
	border: 1px solid #b5b5b5;
}

td.content-header {
	background-color: #00438c;
	color: white;
	font-size: 12px;
	padding: 3px;
}

td.content-header-sub {
	color: white;
	font-size: 10px;
	font-weight: bold;
	padding: 3px;
	background-color: #6d88ad;
}

span.field-required {
	color: #e74124;
	font-weight: bold;
	font-size: 10px;
}

tr.field-row-alt1 {
	background-color: #f1f1f1;
}

tr.field-row-alt2 {
	background-color: #f9f9f9;
}

td.field-row {
	border-top: 1px solid #dfdfdf;
}

tr.content-row {
	background-color: #f5f5f5;
}

td.content-row {
	border-top: 1px solid #e9e9e9;
}

tr.content-row-hover {
	background-color: #ffffd2;
}

tr.content-row-select {
	background-color: gold;
}

td.content-list-empty {
	background-color: #ffffff;
	font-style: italic;
}

td.content-navigation {
	color: white;
	font-size: 10px;
}

td.content-navigation a, td.content-navigation a:active, td.content-navigation a:visited {
	color: white;
	text-decoration: underline;
}

td.content-navigation a:hover {
	color: #d8e6ff;
	text-decoration: underline;
}

input.small {
	border: 1px solid #c1c1c1;
	font-size: 10px;
}

span.disabled {
	color: gray;
}

span.enabled {
	color: black;
}

td.action-bar-button-hover {
	background-color: #e0e0ff;
	border: 1px solid #7886a6;
}

td.action-bar-button-out {
	background-color: #ffffff;
	border: 1px solid #ffffff;
}

td.action-bar-button-click {
	border: 1px solid #e0e0ff;
	background-color: #e0e0ff;
}

div.action-bar-menu {
	padding: 0px;
	border-top: 1px solid #889;
	border-left: 2px solid #889;
	border-right: 2px solid #889;
	border-bottom: 2px solid #889;
	width: 150px;
}

div.action-bar-header {
	padding: 2px;
	background-color: #556;
	font-family: tahoma,verdana,sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: white;
	cursor: move;
}

div.action-area-menu {
	padding: 0px;
}

div.action-area-buttons {
	background-color: #efefef;
	border-top: 1px solid #d1d1d1;
	text-align: right;
	padding: 5px;
}

input.action-area-buttons {
	background-color: #efefef;
	border: 1px solid #c1c1c1;
	font-weight: bold;
}

div.action-area-header {
	padding: 4px;
	background-color: #556;
	cursor: move;
}

td.action-area-header {
	font-family: tahoma,verdana,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: white;
}

div.action-area-items {
	background-color: white;
	font-size: 12px;
	padding: 4px;
}

div.action-area-items table tr td {
	background-color: white;
	font-size: 12px;
	padding: 4px;
}

.action-bar-menu-hover {
	padding: 2px;
	background-color: #def;
	font-family: tahoma,verdana,sans-serif;
	font-size: 10px;
	cursor: pointer;
}

.action-bar-menu-out {
	padding: 2px;
	background-color: #eeeeff;
	font-family: tahoma,verdana,sans-serif;
	font-size: 10px;
	cursor: pointer;
}

td.action-box-border {
	border: 1px solid #556;
}

/* drop shadow boxes */

.shadowedBox table, .shadowedBox td.bdr { padding: 0; margin: 0; border: none; }
.shadowedBox .bdr.topleftcorner { }
.shadowedBox .bdr.topleft { }
.shadowedBox .bdr.top { }
.shadowedBox .bdr.topright { }
.shadowedBox .bdr.toprightcorner { }
.shadowedBox .bdr.righttop { }
.shadowedBox .bdr.right { background-image: url(images/bdr-r.png); }
.shadowedBox .bdr.rightbottom { background-image: url(images/bdr-r.png); }
.shadowedBox .bdr.lefttop { }
.shadowedBox .bdr.left { }
.shadowedBox .bdr.leftbottom { }
.shadowedBox .bdr.bottomleftcorner { }
.shadowedBox .bdr.bottomleft { }
.shadowedBox .bdr.bottom { background-image: url(images/bdr-b.png); background-repeat: repeat-x; }
.shadowedBox .bdr.bottomright { background-image: url(images/bdr-b.png); background-repeat: repeat-x; }
.shadowedBox .bdr.bottomrightcorner { background-image: url(images/bdr-br.png); background-repeat: no-repeat; }



/* Logs */

tr.log_row_emergency { background-color: #DD66DD; }
tr.log_row_alert { background-color: #DD1111; }
tr.log_row_crit { background-color: #EE2040; }
tr.log_row_error { background-color: #DD6025; }
tr.log_row_warning { background-color: #EAAF00; }
tr.log_row_notice { background-color: #E4FF6D; }
tr.log_row_debug { background-color: #EEEEEE; }
tr.log_row_dev { background-color: #DADADA; }
tr.log_row_info { background-color: #FFFFFF; }

td.log-content-row {
}

td.log-content-row-div {
	border-bottom: 1px solid #e9e9e9;
	padding-left: 15px;
}

td.log-content-header-sub {
	color: white;
	font-size: 10px;
	font-weight: bold;
	padding: 3px;
	padding-left: 15px;
	background-color: #6d88ad;
}
td.log-content-header-sub-div {
	color: white;
	font-size: 10px;
	font-weight: bold;
	padding: 3px;
	background-color: #6d88ad;
}





