/* generic */

body {
	margin: 0;
	font: 9pt Verdana, Arial, Helvetica, sans-serif;

}

body.sidebar_closed {
	background: transparent url("images/side_background.gif") 0 0 repeat-y;
}

body.sidebar_open {
	background: transparent url("images/side_background_open.gif") 0 0 repeat-y;
}

a {
	color: blue;
	text-decoration: none;
}

/* header tabs */

#header div#tabs {
	background: #3F4D6B url("../../images/header_backdrop.gif") right -8px no-repeat;
	position: relative;
	height: 5em;
	padding: 0;
	height: 3em;
	padding: 10px 0;
	border-bottom: 2px solid #6ea533;
}
#header div#tabs ul {
	position: absolute;
	bottom: 0;
	left: 6px;
	margin: 0;
	padding: 0 15px 0 0;
	list-style: none;
}
#header div#tabs li {
	float: left;
	background: transparent url("../../images/header_tab.gif") 100% -200px no-repeat;
	padding: 0 6px 0 0;
	margin: 0 2px 0 0;
}
#header div#tabs li.selected { background-position: 100% 0; }
#header div#tabs li.selected a { background-position: 0% 0; }
#header div#tabs li.notselected { background-position: 100% -200px; }
#header div#tabs li.notselected a { background-position: 0% -200px; }
#header div#tabs ul a {
	float: left;
	display: block;
	padding: 4px 4px 4px 10px;
	background: transparent url("../../images/header_tab.gif") 0% -200px no-repeat;
	font-weight: bold;
	font-size: 9pt;
	letter-spacing: 0.2px;
	color: #fff;
	text-decoration: none;
}
#header div#tabs ul li.notselected:hover a { background-position: 0% -400px; }
#header div#tabs ul li.notselected:hover { background-position: 100% -400px; }

/* header tab navigation */

#header div#navigation {
	position: relative;
	width: auto;
	height: 25px;
	background: #e9e9e9;
	font-size: 10pt;
	border-bottom: 1px solid #a1a1a1;
}
#header div#navigation div {
	display: none;
}
#header div#navigation ul {
	margin: 0;
	padding: 3px;
	list-style: none;
	position: absolute;
	color: black;
}
#header div#navigation ul a {
	color: black;
	text-decoration: none;
}
#header div#navigation ul li:hover a {
	color: #818181;
	text-decoration: none;
}
#header div#navigation ul li.selected a {
	font-weight: bold;
}
#header div#navigation ul li {
	display: inline;
	padding: 5px;
}

/* left sidebar */

#content div#sidebar {
	height: 200px;
	padding: 8px 5px 0 4px;
	float: left;
	overflow: hidden;
}
#content div#sidebar div#sidebar_navigation {
	float: left;
	width: 30px;
}
#content div#sidebar div#sidebar_content {
	width: 140px;
	display: none;
	overflow: hidden;
}
#content div#sidebar div#sidebar_content input {
	border: 1px solid #aed484;
	background-color: white;
}
#content div#sidebar div#sidebar_content div {
	padding: 5px;
}

/* main body content */

#content div#login {
	padding: 3px;
	height: 25px;
	text-align: right;
	padding-top: 10px;
	overflow: hidden;
}
#content div#body {
	overflow: hidden;
}
#content div#body table.box {
	position: relative;
}

/* actions box */

#backdrop {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: black;
	opacity: 0.6;
	display: none;
	z-index: 5;
}

div.action_box {
	position: absolute;
	border: 1px solid #393939;
	background-color: white;
	display: none;
	z-index: 10;
	font-size: 10pt;
}
div.action_box div.header {
	padding: 4px;
	background-color: #5c962d;
	border-bottom: 1px solid #4a7824;
	font-family: tahoma,verdana,sans-serif;
	font-weight: bold;
	color: white;
}
div.action_box div.body {
	font-size: 9pt;
	padding: 5px;
}
div.action_box div.footer {
	background-color: #efefef;
	border-top: 1px solid #b1b1b1;
	text-align: right;
	padding: 3px;
}
div.action_box div.footer input {
	background-color: #efefef;
	border: 1px solid #c1c1c1;
	font-weight: bold;
	margin: 2px;
}

/* actions menu */

#content div.action_menu {
	visibility: hidden;
	float: right;
	margin-right: 1%;
	padding: 0px;
	border-top: 1px solid #889;
	border-left: 2px solid #889;
	border-right: 2px solid #889;
	border-bottom: 2px solid #889;
	width: 150px;
	font-size: 8pt;
}
#content div.action_menu div.mouseover {
	padding: 2px;
	background-color: #def;
	font-family: tahoma,verdana,sans-serif;
	cursor: pointer;
}
#content div.action_menu div.mouseout {
	padding: 2px;
	background-color: #eeeeff;
	font-family: tahoma,verdana,sans-serif;
	cursor: pointer;
}
#content div.action_menu div.item_spacer {
	border-top: 1px solid #aab;
}

/* generic box */

#content table.box {
	width: 98%;
	border: 1px solid #b5b5b5;
}
#content table.box tr.header {
	background-color: #00438c;
}
#content table.box tr.header td {
	color: white;
	font-size: 10pt;
	font-weight: bold;
	padding: 3px;
}
#content table.box tr.header a, #content table.box tr.header a:active, #content table.box tr.header a:visited {
	color: white;
	text-decoration: none;
}
#content table.box tr.header a:hover {
	color: #d8e6ff;
	text-decoration: underline;
}
#content table.box tr.header td.pagination {
	color: white;
	font-size: 8pt;
}

#content table.box tr.heading td {
	color: white;
	font-size: 8pt;
	font-weight: bold;
	padding: 3px;
	background-color: #6d88ad;
}
#content table.box tr.heading td a {
	color: white;
}
#content table.box tr.heading td a:hover {
	color: black;
}
#content table.box tr.heading td.checkbox {
	background-color: #819bc0;
	width: 1%;
}
#content table.box tr.heading td.checkbox input {
	margin: 0px;
}

#content table.box tr.item {
	background-color: #f5f5f5;
}
#content table.box tr.item td {
	border-top: 1px solid #e9e9e9;
	font-size: 8pt;
}
#content table.box tr.item td a:hover {
	text-decoration: underline;
}
#content table.box tr.item td.checkbox {
	border-left: 1px solid #b5b5b5;
	border-top: 1px solid #b5b5b5;
	background-color: #e9e9e9;
	width: 1%;
}
#content table.box tr.item td input {
	margin: 0px;
}
#content table.box tr.item td.checkbox input {
	margin: 0px;
}
#content table.box tr.item td.title {
	font-weight: bold;
}

#content table.box tr.hover {
	background-color: #ffffd2;
}

#content table.box tr.selected {
	background-color: gold;
}

#content table.box tr.empty td {
	background-color: #ffffff;
	font-style: italic;
}
#content table.box tr td span.in_use {
	color: green;
}
#content table.box tr td span.not_in_use {
	color: red;
}

#content table.box tr.toolbar td {
	border-top: 1px solid #b5b5b5;
	padding: 1px;
	font-weight: bold;
}
#content table.box tr.toolbar td table tr td {
	border: none;
	padding: 3px;
}
#content table.box tr.toolbar td.button_menu {
	border-top: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
}
#content table.box tr.toolbar td.button_mouseover {
	background-color: #e0e0ff;
	border: 1px solid #7886a6;
}
#content table.box tr.toolbar td.button_mouseout {
	background-color: #ffffff;
	border: 1px solid #ffffff;
}
#content table.box tr.toolbar td.button_mouseclick {
	background-color: #e0e0ff;
	border: 1px solid #e0e0ff;
}
#content table.box tr.toolbar td.pagination {
	font-size: 8pt;
}

/* old styles */

.linkEditMain, .linkEditMain:visited, .linkEditMain:active {
	color: blue;
	text-decoration: none;
	font-weight: bold;
}

.linkEditMain:hover {
	color: blue;
	text-decoration: underline;
	font-weight: bold;
}

.linkOverDark, .linkOverDark:visited, .linkOverDark:active {
	color: white;
	text-decoration: none;
}

.linkOverDark:hover {
	color: white;
	text-decoration: underline;
}

a.link-dark-small, a.link-dark-small:visited, a.link-dark-small:active {
	color: white;
	font-size: 10px;
	text-decoration: none;
}

a.link-dark-small:hover {
	color: white;
	font-size: 10px;
	text-decoration: underline;
}

.textError {
	font-size: 16px;
	font-weight: bold;
	color: red;
}

.textInfo {
	font-size: 16px;
	font-weight: bold;
	color: black;
}

.textHeader {
	font-size: 12px;
	font-weight: bold;
}

.textHeaderDark {
	font-size: 12px;
	color: #ffffff;
}

.textSubHeaderDark {
	font-size: 10px;
	color: #ffffff;
	font-weight: bold;
}

.textArea {
	font-size: 12px;
}

.textEditTitle {
	font-size: 10px;
	font-weight: bold;
}

.textMenuHeader {
	color: #ffffff;
	background-color: #9C9C9C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.textMenuItem {
	background-color: #f5f5f5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.textMenuSubItem {
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.textMenuItemSelected {
	background-color: #E1E1E1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.txtErrorTextBox {
	border: 2px solid #ff0000;
}

.txtEnabledText {
	color: #000000;
}

.txtDisabledText {
	color: #919191;
}

span.text-highlight {
	background-color: #7be54b;
}

/* tabs */
table.tab-container { }
table.tab-container table.tab {
	margin-left: 1px;
	cursor: pointer;
}
table.tab-container table.tab td.left {
	width: 6px;
	height: 22px;
}
table.tab-container table.tab td.middle {
	height: 22px;
	color: white;
	font-weight: bold;
	text-align: center;
}
table.tab-container table.tab td.right {
	width: 6px;
	height: 22px;
}
table.tab-container .selected { background-color: #00438c; }
table.tab-container .selected td.left { background: url(images/tab_shell_left_down.gif) left top no-repeat; }
table.tab-container .selected td.right { background: url(images/tab_shell_right_down.gif) left top no-repeat; }
table.tab-container .selected td.middle { border-top: 1px solid #6d88ad; }
table.tab-container .unselected { background-color: #9c9c9c; }
table.tab-container .unselected td.left { background: url(images/tab_shell_left_up.gif) left top no-repeat; }
table.tab-container .unselected td.right { background: url(images/tab_shell_right_up.gif) left top no-repeat; }
table.tab-container .unselected td.middle { border-top: 1px solid #606060; }
table.tab-container .unselected a { color: white; }

/* Begin - Java Script Row Selection Logic for Layout.js */
.jsRowSelect {
	background-color: gold;
	font-family: Verdana,Helvetica,sans-serif;
	color: #000000;
}

.jsRowUnSelect {
	color: #000000;
	font-family: Verdana,Helvetica,sans-serif;
	font-weight: normal;
}

.jsRowUnavailable {
	color: #999999;
	font-family: Verdana,Helvetica,sans-serif;
	font-weight: normal;
}
/* End - Java Script Row Selection Logic for Layout.js */

input.small {
	border: 1px solid #c1c1c1;
	font-size: 10px;
}

span.disabled {
	color: gray;
}

span.enabled {
	color: black;
}

/* Logs */

tr.log_row_emergency { background-color: #DD66DD; }
tr.log_row_alert { background-color: #DD1111; }
tr.log_row_crit { background-color: #EE2040; }
tr.log_row_error { background-color: #DD6025; }
tr.log_row_warning { background-color: #EAAF00; }
tr.log_row_notice { background-color: #E4FF6D; }
tr.log_row_debug { background-color: #EEEEEE; }
tr.log_row_dev { background-color: #DADADA; }
tr.log_row_info { background-color: #FFFFFF; }

td.log-content-row {
}

td.log-content-row-div {
	border-bottom: 1px solid #e9e9e9;
	padding-left: 15px;
}

td.log-content-header-sub {
	color: white;
	font-size: 10px;
	font-weight: bold;
	padding: 3px;
	padding-left: 15px;
	background-color: #6d88ad;
}
td.log-content-header-sub-div {
	color: white;
	font-size: 10px;
	font-weight: bold;
	padding: 3px;
	background-color: #6d88ad;
}
